.column {
  color: #ffffff;
  background: var(--COLOR-GRAY-DARK);
  border-radius: 4px;
  margin: 0 0.5rem;
  max-width: 20rem;
  min-height: 20rem;
  padding: 0.5rem;
  width: 33%;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleWrapper button {
  all: unset;
  color: black;
  background: white;
  padding: 0.5rem;
  border-radius: 4px;
  height: fit-content;
}

.titleWrapper button:hover {
  background: var(--COLOR-GRAY-LIGHT);
  cursor: pointer;
}
