:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-IN-PROGRESS: #98c1d9;
  --COLOR-DONE: #ee6c4d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  margin: 0;
}
